.App-header {
    background-color: #7B61FF;
    color: white;
    height: 50px;
  
}

.heart {
    float: right;
    padding-top: 13px;
    padding-right: 13px;
    font-weight: bold;
    color:white;
}

.logout {
    float: right;
    padding-top: 13px;
    padding-right: 13px;
    color: white;
    font-weight: bold;
}
.controller{
    height:30px;
    width:50px;
    margin-left: 20px;
    float: left;
}