.user_arrow{
    position: absolute;

    left: calc(50% - 360px/2 - 520px);
    top: calc(50% - 334px/2 - 230px);

    /* Character/Title .85 */


}

.user_arrow_text{
    position: absolute;
    width: 323px;
    height: 28px;
    left: calc(50% - 360px/2 - 490px);
    top: calc(50% - 334px/2 - 235px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    color: #7B64D8;
}

.user_profile_icon{
    position: absolute;
    width: 58px;
    height: 58px;
    left: calc(50% - 360px/2 - 480px);
    top: calc(50% - 334px/2 - 150px);

    background: url(../assets/dinosaur.png);
}

.user_profile_tittle{
    /* User Profile */

    position: absolute;
    width: 424px;
    height: 22px;
    left: calc(50% - 360px/2 - 550px);
    top: calc(50% - 334px/2 - 130px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
    /* or 71% */


    color: #7B64D8;
}

.user_profile_rectangle{
    position: absolute;
    width: 1282px;
    height: 543px;
    left: calc(50% - 360px/2 - 480px);
    top: calc(50% - 334px/2 - 30px);

    background: #F4F8F7;
    border-radius: 10px;
}

.user_profile_ellipse8{
    position: absolute;
    width: 48px;
    height: 49px;
    left: calc(50% - 360px/2 - 280px - 24px);
    top: calc(50% - 334px/2 - 00px - 29px);

    background: url(../assets/Ellipse8.png);
}

.user_profile_ellipse5{
    position: absolute;
    width: 170px;
    height: 170px;

    left: calc(50% - 360px/2 - 280px + 98px);
    top: calc(50% - 334px/2 - 00px - 37px);

    background:url(../assets/Ellipse5.png);
}

.user_profile_ellipse6{
    position: absolute;
    width: 113px;
    height: 113px;
    left: calc(50% - 360px/2 - 280px - 53px);
    top: calc(50% - 334px/2 - 00px + 129px);

    background:url(../assets/Ellipse6.png);
}

.user_profile_ellipse7{
    position: absolute;
    width: 68px;
    height: 67px;
    left: calc(50% - 360px/2 - 280px + 197px);
    top: calc(50% - 334px/2 - 00px + 170px);

    background:url(../assets/Ellipse7.png);
}
.user_profile_ellipse1{
    position: absolute;
    width: 13px;
    height: 13px;
    left: calc(50% - 360px/2 - 280px + 403px);
    top: calc(50% - 334px/2 - 00px + 9px);

    background:url(../assets/Ellipse1.png);
}
.user_profile_ellipse2{
    position: absolute;
    width: 13px;
    height: 13px;
    left: calc(50% - 360px/2 - 280px + 403px);
    top: calc(50% - 334px/2 - 00px + 9px + 68px);

    background:url(../assets/Ellipse1.png);
}
.user_profile_ellipse3{
    position: absolute;
    width: 13px;
    height: 13px;
    left: calc(50% - 360px/2 - 280px + 403px);
    top: calc(50% - 334px/2 - 00px + 9px + 68px + 68px);

    background:url(../assets/Ellipse1.png);
}
.user_profile_ellipse4{
    position: absolute;
    width: 13px;
    height: 13px;
    left: calc(50% - 360px/2 - 280px + 403px);
    top: calc(50% - 334px/2 - 00px + 9px + 68px + 68px + 68px);

    background:url(../assets/Ellipse1.png);
}
.user_profile_avatar{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;

    position: absolute;
    width: 209px;
    height: 210px;
    left: calc(50% - 360px/2 - 280px);
    top: calc(50% - 334px/2 - 00px);

    /* Neutral/6 */

    background: #BFBFBF;
    border-radius: 100px;
}

.user_profile_text_name{
    position: absolute;
    width: 125px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px);


    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */


    color: #7B64D8;
}

.user_profile_text_email{

    position: absolute;
    width: 154px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */


    color: #7B64D8;
}

.user_profile_text_join_date{
    position: absolute;
    width: 125px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 17px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */


    color: #7B64D8;
}

.user_profile_text_game{
    position: absolute;
    width: 193px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px + 68px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */


    color: #7B64D8;
}

.user_profile_name{
    position: absolute;
    width: 125px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px + 130px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
}

.user_profile_email{
    position: absolute;
    width: 257px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px + 160px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
}

.user_profile_join_date{
    position: absolute;
    width: 125px;
    height: 22px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px + 115px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
}

.user_profile_game{
    position:absolute;
    width: 42px;
    height: 25px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px + 210px);
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px + 68px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* or 110% */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #1890FF;
}
/* 
.user_profile_tag1{

    position: absolute;
    width: 143px;
    height: 41px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px );
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px + 68px + 68px);

    background: #F6FFED;
    border: 1px solid #B7EB8F;
    box-sizing: border-box;
    border-radius: 2px;
}

.user_profile_tag2{
    position: absolute;
    width: 143px;
    height: 41px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px + 180px );
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px + 68px + 68px);

    background: #F0F5FF;
    border: 1px solid #ADC6FF;
    box-sizing: border-box;
    border-radius: 2px;

} */

.ProfileTags {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 45%

}

/* .user_profile_tag3{

    position: absolute;
    width: 143px;
    height: 41px;
    left: calc(50% - 360px/2 - 280px + 403px + 24px + 180px + 180px );
    top: calc(50% - 334px/2 - 00px + 9px - 4px + 68px + 68px + 68px + 68px);

    background: #FFF7E6;
    border: 1px solid #FFD591;
    box-sizing: border-box;
    border-radius: 2px;
} */
