@import "../node_modules/antd/dist/antd.css";
@import './styles/App.css';
@import './styles/TopBar.css';
@import "./styles/Main.css";
@import "./styles/Login.css";
@import "./styles/LikedGames.css";
@import "./styles/Register.css";
@import "./styles/TagsSelection.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
